@model IEnumerable<AdminLTE_Template1.Models.MedicineDetail>

<h2 style="color:crimson;text-align:center"><b><u>Sell Medicines List Priority</u></b></h2>
@*<div class="progress xs">
    @* Change the css width attribute to simulate progress *@
    @*<div class="progress-bar progress-bar-green" style="width: 100%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
        <span class="sr-only"></span>
    </div>
</div><br/>*@
<script src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js"></script>
<table class="table">
    <tr class="bg-primary">
        <th>
            @Html.DisplayNameFor(model => model.MedicineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufacturedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiredDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryDisease.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MedicineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManufacturedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiredDate)
        </td>     
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryDisease.CategoryName)
        </td>
        <td>    
            @Html.ActionLink("Details", "Details", new { id=item.M_ID })
        </td>
    </tr>
}
</table>