@using AdminLTE_Template1.Controllers
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu  <li class="@(ViewContext.RouteData.Values["Action"].ToString() == nameof(HomeController.Index) ? "active" : "" )"> *@
        <ul class="sidebar-menu">
            <li class="header">HEADER</li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == null)">
                <a href="@Url.Action("Index", "Maps")"><i class="fa fa-map"></i> <span>Location</span></a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == null)">
                <a href="@Url.Action("Index", "Feedbacks")"><i class="fa fa-link"></i> <span>Feedbacks</span></a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-medkit"></i> <span>Medicines</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Medicines")">Medicine Details</a></li>
                    <li><a href="@Url.Action("Create", "Medicines")">Add New Medicine</a></li>
                </ul>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>