@*@if (Model == null)
{
    <h3 style="@((ViewBag.InsertTokenMust == "ON") ? "none" : "border:solid 1px red;height:40px;color:red;background-color:rgb(255,229,229);text-align:center")">
        cant access
    </h3>
}*@
   
@model AdminLTE_Template1.Models.CustomAdminLogin

@{
        Layout = null;
    }

@{
    Layout = null;
    Layout = "~/Views/Shared/LayoutForResetPassword.cshtml";
}

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@if (ViewBag.InsertTokenMust == "ON")
{
    using (Html.BeginForm("PasswordChangeAfterForgot", "Login", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-offset-1 col-md-3">
                @Html.Label("NewPassword", new { @class = "col-md-2 control-label" })
            </div>
            <div class="col-md-8">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter New Password" })<span style="color:cyan">@ViewBag.Samepassword</span>
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-1 col-md-3">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-md-2 control-label" })
            </div>
            <div class="col-md-8">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Enter Password Again" })<span style="color:cyan">@ViewBag.NotConfirmPassword</span>
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-1">
                    <input type="submit" value="submit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
    

}
else
{
    <h3 style="@((ViewBag.InsertTokenMust == "ON") ? "none" : "border:solid 1px red;height:40px;color:red;background-color:rgb(255,229,229);text-align:center")">
        cant access
    </h3>
}

@ViewBag.passwordSame
